%h1 Same Director of @movie.title

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Release Date
      %th Rating
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.release_date
        %td= movie.rating
        %td= link_to "More about #{movie.title}", movie_path(movie)
        
= link_to 'Back to movie list', movies_path